body {
	padding: 10px;
	background: #111;
	color: #eee;
	font-family: monospace;
}

button {
	margin: 10px 5px;
	position: relative;
	padding: 10px 20px;
	background: #444;
	color: #eee;
	border-radius: 3px;
}

ol {
}

li {
	padding: 5px 10px;
	margin: 5px auto;
}

button,
input {
	margin: 10px;
	padding: 10px 20px;
	cursor: pointer;
	background: #222;
	color: #eee;
	border: 1px solid #444;
	border-radius: 3px;
	font-family: monospace;
}

button,
input {
	border: none;
	cursor: pointer;
	display: block;
}

button {
	background: #2b2b2b;
}

button:hover {
	background: #444;
}



