body {
	margin: 0;
	padding: 10px;
	background: white;
	color: #111;
}

body.dark {
	background: black;
	color: #ddd;
}

body.dark input[disabled] {
	background: #222;
	color: #aaa;
}

body.dark input,
body.dark hr {
	border: 1px solid #555;
	background: #000;
	color: #ddd;
}

label {
	width: 374px;
	padding-right: 20px;
	text-align: right;
	display: inline-block;
}

.points-left {
	font-weight: bold;
	font-size: 2em;
}
