@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 500;
}

.light {
  color: var(--color-light);
}

.dark {
  color: var(--color-dark);
}

@media only screen and (max-width: 960px) {}
